.bigLabel{
	font-size: 20px;
	color: #0c090A;
	padding: 3px;
}
.fixedtop{
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    border-top: 0;
}
.fixed{
	position: fixed;
}